
@font-face {
   font-family: NewFont;
   src: url(NewFont.otf);
}

html { 
  font-size: 15px;
  background: url(images/pleasant.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
margin: 0px;
background-repeat: no-repeat;
}
body{ 
  background: url(images/pleasant.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header{
	text-align: center;
	color:white;
	background-color: black;
	width: 100%;
	position:absolute;
	margin-bottom: 50px;
	top:0;
	border-bottom: 1px solid silver;
	z-index: 50;
}

#title{
	float: left;
	display: inline;
	font-size: 45px;
	margin: 9px 0px 0px 0px;
	color: silver;
}
h1{
	font-family: NewFont;
	color: rgba(188, 170, 76, 1);
	display: inline-block;
	font-size: 45px;
	margin:0px;
	margin-top: 18px;
	margin-left: 18px;
	margin-bottom: 10px;
}
.social_links{
	display: inline;
}
#Logo{
	height: 40px;
	padding: 10px;
	float: left;
}
.logo{
	height:40px;
}
li{
	display: inline-block;
	padding: 3px;
}
#Reg_Link{
	float:right;
	color:white;
	padding:5px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-family: NewFont;
	font-size: 30px;
	color: rgba(188, 170, 76, 1);
	text-decoration: none;
	border-left: 1px solid silver;
}
#Gallery_link{
	float:right;
	color:white;
	padding:5px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-family: NewFont;
	font-size: 30px;
	color: rgba(188, 170, 76, 1);
	text-decoration: none;
	border-left: 1px solid silver;
}
#Gallery{
	margin-right: 13px;
}
ul{
	float: right;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	padding: 10px;
	}
#content{
	margin-top: 75px;
	padding: 20px;

}
#slider{
	height: auto;
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid silver;
}
#content_text{
	width:70%;
	margin:auto;
    display: block;
	color:white;
	background-color: black;
	opacity: 0.9;
	padding: 20px;
	margin-top: 20px;
	border: 1px solid silver;
}
h2{
	color: rgba(188, 170, 76, 1);
}
footer{
	text-align: center;
	color:white;
	background-color: black;
	width: 100%;
	position:absolute;
	opacity: 0.9;
	margin-top: 50px;
	border-top: 1px solid silver;
}
a{
	color:rgba(255, 135, 0, 1);
	text-decoration: none;
}
#company_name{
	float: left;
	text-decoration: none;
	margin:0px;
	padding:0px;
	text-align: left;
}
#company_name li{
	padding:0px;
	margin:0px;
}
#mobile_register{
	display: none;
}
@media (max-width: 950px) {
    #company_name {
       position:absolute;
   top:0;
   bottom:0;
   left:0;
   right:0;
   margin:auto;
   display: block;
   text-align: center;
    }  
    #heading{
    	display: none;
    }
    .social_links ul li{
    	display: none;
    }
    header{
    	border: none;
    	background-color: transparent;
    }
    #mobile_register{
	display: inline;
	width:auto;
	padding: 5px;
	float: right;
	position: fixed;
	right: 0;
	z-index: 100;
	background-color: white;
	border-radius: 5px 0px 0px 5px ;
	opacity: 0.9;
	top: 55px;
	border: 1px solid #FF8700;
}
	#mobile_gallery{
	top: 8%;
	display: inline;
	width:auto;
	padding: 5px;
	float: right;
	position: fixed;
	left: 0;
	z-index: 100;
	background-color: white;
	border-radius: 0px 5px 5px 0px ;
	opacity: 0.9;
	top: 55px;
	border: 1px solid #FF8700;
	}


}
p{
	text-align: justify;
}