@font-face {
   font-family: NewFont;
   src: url(NewFont.otf);
}
html { 
  font-size: 15px;
  background: url(images/pleasant.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
margin: 0px;
background-repeat: no-repeat;
}
body{ 
  background: url(images/pleasant.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main_header{
	text-align: center;
	color:white;
	background-color: black;
	width: 100%;
	position:absolute;
	margin-bottom: 50px;
	top: 0;
	position: fixed;
	border-bottom: 1px solid silver;
	z-index: 50;
}

#title{
	float: left;
	display: inline;
	font-size: 45px;
	margin: 9px 0px 0px 0px;
	color: silver;
	cursor: pointer;
}
#trip{
	font-family: NewFont;
	color: rgba(188, 170, 76, 1);
	display: inline-block;
	font-size: 45px;
	margin:0px;
	margin-top: 18px;
	margin-left: 18px;
	margin-bottom: 10px;
}
.social_links{
	display: inline;
}
#Logo{
	height: 40px;
	padding: 10px;
	float: left;
}
.logo{
	height:40px;
}
li{
	display: inline-block;
	padding: 3px;
}
#Reg_Link{
	float:right;
	color:white;
	padding:5px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-family: NewFont;
	font-size: 30px;
	color: rgba(188, 170, 76, 1);
	text-decoration: none;
	border-left: 1px solid silver;
}
#Gallery_link{
	float:right;
	color:white;
	padding:5px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-family: NewFont;
	font-size: 30px;
	color: rgba(188, 170, 76, 1);
	text-decoration: none;
	border-left: 1px solid silver;
}
#Gallery{
	margin-right: 13px;
}
ul{
	float: right;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	padding: 10px;
	}

html{
	font-size: 15px;
}
body{
margin: 0px;
}
header{text-align: center;}
#body_wrapper{
	position: relative;
	width: 560px;
	margin-top: 150px;
	margin-left: auto;
    margin-right: auto;
    border:10 px solid;
}
#main_wrapper{
	
	border-radius: 20px;
/*	border: 1px solid #888888;*/

/*	box-shadow: 10px 10px 5px #888888;*/

}
form{
	padding: 10px;
}
fieldset{
	background-color: black;
	color: rgba(255, 135, 0, 1);
	opacity:0.9;
	margin: 5px;
	/*border-radius: 15px;*/
	border:2px solid silver;
	padding: 10px;
	-moz-border-radius: 15px;
	border-radius: 10px 10px 10px 10px ;
	margin-bottom: 20px;
	}
label{
	color: rgba(188, 170, 76, 1);
}
h1{
	/*text-align: center;*/
/*	text-shadow: 3px 2px 2px #888888;*/
	font-family: NewFont;
	font-size: 45px;
	color: #E3E9E8;
}
input{
	margin: 5px;
	border-radius: 5px;
	border: 1px solid #888888;
	padding: 5px;
/*	box-shadow: 2px 2px 1px #888888;*/

}
.radio_button{
	box-shadow: none;
}
#sex_button{
	color:white;
}
#submit_btn{
	background-color: white;
/*	box-shadow: 2px 2px 1px #888888;*/
}

select{
/*	box-shadow: 2px 2px 1px #888888;*/
}

#Permenant_Address{
	display:inline-block;
	float: left;
}
#Present_Address{
	display:inline-block;
	float: right;
	
}

#submit_form{
	text-align:center;
}
#age{
	width: 4%;
}
#check_box{
	margin-top: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	width: 100%;
	clear: both;
}
footer{
	text-align: center;
	color:white;
	background-color: black;
	width: 100%;
	position:absolute;
	opacity: 0.9;
	margin-top: 50px;
	border-top: 1px solid silver;
}
#ageBox{
	display: inline;
	margin-left: 50px;
}
a{
	color:rgba(255, 135, 0, 1);
	text-decoration: none;
}
#country_state{
	text-align: center;
}