@font-face {
   font-family: NewFont;
   src: url(NewFont.otf);
}
html { 
  font-size: 15px;
  background: url(images/pleasant.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
margin: 0px;
background-repeat: no-repeat;
}
body{ 
  background: url(images/pleasant.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main_header{
	text-align: center;
	color:white;
	background-color: black;
	width: 100%;
	position:absolute;
	margin-bottom: 50px;
	top: 0;
	position: fixed;
	border-bottom: 1px solid silver;
	z-index: 50;
}

#title{
	float: left;
	display: inline;
	font-size: 45px;
	margin: 9px 0px 0px 0px;
	color: silver;
	cursor: pointer;
}
#trip{
	font-family: NewFont;
	color: rgba(188, 170, 76, 1);
	display: inline-block;
	font-size: 45px;
	margin:0px;
	margin-top: 18px;
	margin-left: 18px;
	margin-bottom: 10px;
}
.social_links{
	display: inline;
}
#Logo{
	height: 40px;
	padding: 10px;
	float: left;
}
.logo{
	height:40px;
}
li{
	display: inline-block;
	padding: 3px;
}
#Reg_Link{
	float:right;
	color:white;
	padding:5px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-family: NewFont;
	font-size: 30px;
	color: rgba(188, 170, 76, 1);
	text-decoration: none;
	border-left: 1px solid silver;
}
#Gallery_link{
	float:right;
	color:white;
	padding:5px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-family: NewFont;
	font-size: 30px;
	color: rgba(188, 170, 76, 1);
	text-decoration: none;
	border-left: 1px solid silver;
}
#Gallery{
	margin-right: 13px;
}
ul{
	float: right;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	padding: 10px;
	}

html{
	font-size: 15px;
}
body{
margin: 0px;
}
header{text-align: center;}
#body_wrapper{
	position: relative;
	width: 560px;
	margin-top: 150px;
	margin-left: auto;
    margin-right: auto;
    border:10 px solid;
}
#main_wrapper{
	
	border-radius: 20px;
/*	border: 1px solid #888888;*/

/*	box-shadow: 10px 10px 5px #888888;*/

}
form{
	width:55%;
	margin-top: 60px;
	padding: 10px;
	clear: both;
    overflow: hidden;
}
fieldset{
	background-color: black;
	color: rgba(255, 135, 0, 1);
	opacity:0.9;
	margin: 5px;
	/*border-radius: 15px;*/
	border:2px solid silver;
	padding: 10px;
	-moz-border-radius: 15px;
	border-radius: 10px 10px 10px 10px ;
	margin-bottom: 20px;
	}
label{
	color: rgba(188, 170, 76, 1);
}
h1{
	/*text-align: center;*/
/*	text-shadow: 3px 2px 2px #888888;*/
	font-family: NewFont;
	font-size: 45px;
	color: #E3E9E8;
}
input{
	margin: 5px;
	border-radius: 5px;
	border: 1px solid #888888;
	padding: 5px;
/*	box-shadow: 2px 2px 1px #888888;*/

}
footer{
	text-align: center;
	color:white;
	background-color: black;
	width: 100%;
	position:absolute;
	opacity: 0.9;
	margin-top: 50px;
	border-top: 1px solid silver;
    bottom: 0;
    position: fixed;
}
footer p{
	text-align: center;
	color:white;
}
.radio_button{
	box-shadow: none;
}
#sex_button{
	color:white;
}
#submit_btn{
	background-color: white;
/*	box-shadow: 2px 2px 1px #888888;*/
}

select{
/*	box-shadow: 2px 2px 1px #888888;*/
}

#Permenant_Address{
	display:inline-block;
	padding-left: 10px;
	width:50%;
	/*float: right;*/
}
#Present_Address{
	display:inline-block;
	float: left;
	width:50%;
	
}

#submit_form{
	text-align:center;
}
#age{
	width: 40px;
}
#check_box{
	margin-top: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	width: 100%;
	clear: both;
}

#ageBox{
	display: inline-block;
	padding-left: 0px;
}
a{
	color:rgba(255, 135, 0, 1);
	text-decoration: none;
}
#country_state{
	text-align: center;
}

@font-face {
   font-family: NewFont;
   src: url(NewFont.otf);
}

html { 
  font-size: 15px;
  background: url(images/pleasant.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
margin: 0px;
background-repeat: no-repeat;
}
body{ 
  background: url(images/pleasant.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header{
	text-align: center;
	color:white;
	background-color: black;
	width: 100%;
	position:absolute;
	margin-bottom: 50px;
	top:0;
	border-bottom: 1px solid silver;
	z-index: 50;
}

#title{
	float: left;
	display: inline;
	font-size: 45px;
	margin: 9px 0px 0px 0px;
	color: silver;
}
h1{
	font-family: NewFont;
	color: rgba(188, 170, 76, 1);
	display: inline-block;
	font-size: 45px;
	margin:0px;
	margin-top: 18px;
	margin-left: 18px;
	margin-bottom: 10px;
}
.social_links{
	display: inline;
}
#Logo{
	height: 60px;
	padding: 10px;
	float: left;
}
.logo{
	height:40px;
}
li{
	display: inline-block;
	padding: 3px;
}
#Reg_Link{
	float:right;
	color:white;
	padding:5px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-family: NewFont;
	font-size: 30px;
	color: rgba(188, 170, 76, 1);
	text-decoration: none;
	border-left: 1px solid silver;
}
#Gallery_link{
	float:right;
	color:white;
	padding:5px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-family: NewFont;
	font-size: 30px;
	color: rgba(188, 170, 76, 1);
	text-decoration: none;
	border-left: 1px solid silver;
}
#Gallery{
	margin-right: 13px;
}
ul{
	float: right;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	padding: 10px;
	}
#content{
	margin-top: 75px;
	padding: 20px;

}
.slider{
	height: 120px;
	width: 200px;
	display: inline;
	margin:20px;
	float: none;
	cursor: pointer;
	border: 3px solid rgba(188, 170, 76, 1);
	transition: all .2s ease-in-out;
}
.slider:hover { transform: scale(1.2); }
#content_text{
	width:75%;
	margin:auto;
    display: block;
	color:white;
	background-color: black;
	opacity: 0.9;
	padding: 20px;
	margin-top: 20px;
	border: 1px solid silver;
}
h2{
	color: rgba(188, 170, 76, 1);
}

a{
	color:rgba(255, 135, 0, 1);
	text-decoration: none;
}
#company_name{
	float: left;
	text-decoration: none;
	margin:0px;
	padding:0px;
	text-align: left;
}
#company_name li{
	padding:0px;
	margin:0px;
}
#mobile_register{
	display: none;
}
#imageWrap{
	top:0;
   bottom:0;
   left:0;
   right:0;
   margin:auto;
   display: block;
   text-align: center;
	position: absolute;
	padding: 5%;
}
#destinations{
	   top:0;
   bottom:0;
   left:0;
   right:0;
   margin:auto;
   display: block;
   text-align: center;
	position: relative;
	padding: 20px;
	/*width: auto;*/
    margin: 0 auto;
    margin-top: 75px;
    display: block;
    width:auto;
    float: none;
}
#mobile_checkbox{
	display: none;
}

@media (max-width: 990px) {
    #company_name {
       position:absolute;
   top:0;
   bottom:0;
   left:0;
   right:0;
   margin:auto;
   display: block;
   text-align: center;
    }  
    #heading{
    	display: none;
    }
    .social_links ul li{
    	display: none;
    }
    header{
    	border: none;
    	background-color: transparent;
    }
    #mobile_register{
    top: 8%;
	display: inline;
	width:auto;
	padding: 5px;
	float: right;
	position: fixed;
	right: 0;
	z-index: 100;
	background-color: white;
	border-radius: 5px 0px 0px 5px ;
	opacity: 0.9;
	top: 55px;
	border: 1px solid #FF8700;
}
	#mobile_gallery{
	top: 8%;
	display: inline;
	width:auto;
	padding: 5px;
	float: right;
	position: fixed;
	left: 0;
	z-index: 100;
	background-color: white;
	border-radius: 0px 5px 5px 0px ;
	opacity: 0.9;
	top: 55px;
	border: 1px solid #FF8700;
	}
	#body_wrapper{
	position: relative;
	width: 560px;
	margin-top: 100px;
	margin-left: auto;
    margin-right: auto;
    border:10 px solid;
}
	form{
		width:80%;
	}


}
@media (max-width: 1050px) {
		#Present_Address, #Permenant_Address{
		width: 100%;
		padding-left: 0px;
	}
	#mobile_checkbox{
		display: block;
		margin-top: 1px;
		padding-top: 5px;
		padding-bottom: 5px;
		display: block;
		width: 100%;
		clear: both;
	}
	#check_box{
		display: none;
	}

}