@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
* {
    /* With these codes padding and border does not increase it's width and gives intuitive style.*/
  
	-webkit-box-sizing: border-box;   
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin:0;
	padding:0;
	font-family: 'Roboto Slab', serif;  
}
div#envelope{
	top:0;
   bottom:0;
   left:0;
   right:0;
   margin:auto;
   display: block;
	padding: 5%;
	position: relative;
} 	
form{
    width:60%; 
	margin:auto;
   display: block;
	margin:auto;
	margin-top: 60px;
	/*margin-left: 21%;*/
}  
header{
	background-color: #4180C5;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 8px;
	margin-top: -11px;
	margin-bottom: -8px;
	border-radius: 10px 10px 0 0;
	color: aliceblue;
} 

/* Makes responsive fields.Sets size and field alignment.*/
input[type=text], input[type=number], input[type=email]{
	margin-bottom: 5px;
	margin-top: 5px;
	width:100%;
	padding: 8px;
	border-radius:5px;
	border:1px solid #7ac9b7;
	margin-left: 0px;
}
input[type=submit]
{
	margin-bottom: 20px;
	width:30%;
	padding: 15px;
	border-radius:5px;
	border:1px solid #7ac9b7;
	background-color: black;
	color:white;
	opacity:0.9;
	font-size:15px;
	cursor:pointer;
	margin: auto;
	display: block;
	margin-bottom: 50px;

}
#submit:hover
{
 background-color: black;
}
textarea{
	width:100%;
	padding: 15px;
	margin:auto;
	display: block;
	margin-top: 10px;
    border:1px solid #7ac9b7;
	border-radius:5px; 
	margin-bottom: 20px;
	resize: vertical;
  } 
input:focus,textarea:focus {
	border-color: #4697e4;
}


  